{% extends "layout.html" %}

{% block title %}
Home - {{ app_name }}
{% endblock title %}

{% block statics %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/search-bar.css') }}">
{% endblock statics %}

{% block navigation %}
<ul class="navbar">
    <form class="search-form" action="" method="post">
        <input type="text" name="search" id="search" placeholder="Search here..." >
        <button type="submit">
            <div class="img-container">
                <img src="{{ url_for('static', filename='media/icons/search-icon.svg') }}" alt="search-icon">
            </div>
        </button>
    </form>
    <div class="actions">
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
</ul>
{% endblock navigation %}

{% block content %}
<main>
    <div class="welcome">
        <p class="welcome">Welcome to Beyond Stars</p>
    </div>
    <div>
        <div class="img-container">
            <img src="{{ url_for('static', filename='media/brand/space-man-brand.svg') }}" >
        </div>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </div>

    <section id="available-products">
        <h2 class="section-title">Products...</h2>

        <div class="container-card-products">
            {% for index in range(8) %}
            <div class="card-container">
                <h4 class="title-card">
                    Refracting Telescope for Kids Beginners
                </h4>
                <div class="img-card-container">
                    <img src="{{url_for('static', filename='media/telescope-img/Gskyer-Telescope-refactor.jpg')}}"
                        alt="refracting telescope Gskyer">
                </div>
                <div class="texts">
                    <h4 class="price-title">Original price:</h4>
                    <h4 class="original-price">$429.99</h4>
                    <h4 class="price-now">Now: $96.99</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}